/*-- box_rotate  --*/

@-webkit-keyframes road {
  0% {-webkit-transform:rotate(0deg);}
  100% {-webkit-transform:rotate(360deg);} 
}

@keyframes road {
  0% {transform:rotate(0deg);}
  100% {transform:rotate(360deg);} 
}


.road {
  -webkit-animation-duration: 20s;
  animation-duration: 20s;
  -webkit-animation-delay: 0s;
  -webkit-animation-timing-function:linear;
  -webkit-animation-name: road;
          animation-name: road;
}



/*-- loading --*/
#loading {position:fixed;top:0;right:0;bottom:0; left:0; background:rgba(0, 0, 0, 0.5); *background:#fff;}
#loading span {
background-color: rgba(102, 102, 102, 0.95);z-index: 9999999999;
position:absolute;
height: 24px;
padding: 15px;
border-radius: 3px;
box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3); top:50%;left:50%; margin-top: -73px;
background:#666\9;
margin-left: -74px; }

#loading i {background: url("../images/icon_loader.gif") no-repeat 0 0;float: left;
width: 24px;
height: 24px;
overflow: hidden;
}

#loading em{height: 24px;
padding-left: 10px;
line-height: 24px;
font-size: 16px;
color: white;}


/*-- placeholder --*/
input:-moz-placeholder {  
      color: green;  
}
input::-webkit-input-placeholder {  
      color: green;  
    }  
input:-ms-input-placeholder {  
      color: green;  
    }