/*-- Globals --*/
body,html {height:100%;}
ul {margin:0; padding:0; list-style-type:none;}
body {font-size:12px; background:#f5f4f2;}
a {  -webkit-transition:.15s; -o-transition: .15s;  transition: .15s;}
.tran{-webkit-transition: all .5s ease-in-out 0s; -o-transition: all .5s ease-in-out 0s; -moz-transition: all .5s ease-in-out 0s; transition: all .5s ease-in-out 0s;}
.w1000 {width:1000px; margin:0 auto;}
.gl-box {border: 1px solid #eee; box-shadow: 0 0 2px #eee; background:#fff;}

/*-- top-header --*/


