/*-- global --*/
body {
  font-size: 20px;
}
.fade {
  opacity: 0;
  -webkit-transition: opacity 3.15s linear;
  -o-transition: opacity 3.15s linear;
  transition: opacity 3.15s linear;
}
.fade.in {
  opacity: 1;
}
/* media 
横屏 
@media screen and (orientation:landscape){
      
}
*/
/* 竖屏
@media screen and (orientation:portrait){
      
}

/* 大屏幕（大桌面显示器，大于等于1200px）
@media (max-width: 1200px) {}
*/
/* 窗口宽度<960,设计宽度=768 
@media screen and (max-width:992px){
}
*/
/* 窗口宽度<768,设计宽度=640
@media screen and (max-width:767px){
     
}
 */
/* 窗口宽度<640,设计宽度=480 
@media screen and (max-width:639px){
      
}
*/
/* 窗口宽度<480,设计宽度=320 
@media screen and (max-width:479px){
      
}
*/
/* windows UI 贴靠 
@media screen and (-ms-view-state:snapped){
      
}
*/
/* 打印 
@media print{
      
}
*/
