/*-- fa-spin 旋转  --*/
.fa-spin {
  -webkit-animation: fa-spin 2s infinite linear;
  animation: fa-spin 2s infinite linear;
}
@-webkit-keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}


/*-- loading --*/
#loading {position:fixed;top:0;right:0;bottom:0; left:0; background:rgba(0, 0, 0, 0.5); *background:#fff;}
#loading span {
background-color: rgba(102, 102, 102, 0.95);z-index: 9999999999;
position:absolute;
height: 24px;
padding: 15px;
border-radius: 3px;
box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3); top:50%;left:50%; margin-top: -73px;
background:#666\9;
margin-left: -74px; }

#loading i {background: url("../images/icon_loader.gif") no-repeat 0 0;float: left;
width: 24px;
height: 24px;
overflow: hidden;
}

#loading em{height: 24px;
padding-left: 10px;
line-height: 24px;
font-size: 16px;
color: white;}

/*-- loading2 --*/
.loading { background-color: rgba(102, 102, 102, 0.95);z-index: 9999999999; position: fixed; height: 24px; padding: 15px; border-radius: 3px; box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3); top:50%;left:50%; margin-top: -73px; margin-left: -74px; }
.loading i {background: url("../images/icon_loader.gif") no-repeat 0 0;float: left; width: 24px; height: 24px; overflow: hidden; z-index:100;}
.loading span {height: 24px; padding-left: 10px; line-height: 24px; font-size: 16px; color: white;}
.loading-wrap {position:fixed;right:0;top:0;bottom:0;left:0; background: rgba(0, 0, 0, 0.68); z-index: 110;}



/*-- 表单 placeholder --*/
input:-moz-placeholder {  
      color: green;  
}
input::-webkit-input-placeholder {  
      color: green;  
    }  
input:-ms-input-placeholder {  
      color: green;  
    }

/*只有webkit核心浏览器的谷歌浏览器、safari浏览器识别的CSS hack解决*/
@media screen and (-webkit-min-device-pixel-ratio:0) {
.content_3_li { margin-left:2px; }
}



/*-- iframe --*/
<iframe frameborder="0" vspace="0" hspace="0" style="padding: 0; margin: 0; border: 0; outline: none; vertical-align: top;" scrolling="no" width="458" height="428" src="http://192.168.0.168/mall/index.php/mg/index/query/"></iframe>


/*-- 滚动条 --*/
::-webkit-scrollbar {
  width: 14px;
  height: 14px;
}
::-webkit-scrollbar-track,
::-webkit-scrollbar-thumb {
  border-radius: 999px;
  border: 5px solid transparent;
}
::-webkit-scrollbar-track {
  box-shadow: 1px 1px 5px rgba(0,0,0,.2) inset;
}

::-webkit-scrollbar-thumb {
  min-height: 20px;
  background-clip: content-box;
  box-shadow: 0 0 0 5px rgba(0,0,0,.2) inset;
}
::-webkit-scrollbar-corner {
  background: transparent;
}


/*-- select-style --*/
.range-hidden {
  top: 110px !important;
  margin-left: -80px !important;
  transform: rotate(-90deg);
  -ms-transform: rotate(-90deg); 
  -webkit-transform: rotate(-90deg); 
  -o-transform: rotate(-90deg); 
  -moz-transform: rotate(-90deg);
  -webkit-appearance: none !important;
  background: none;
  z-index: 999;
  &::-webkit-slider-thumb {
    -webkit-appearance: none !important;
    height:100px;
    width:100px;
    border: none;
    position: relative;
    background: none;
  }
}
.custom {
  -webkit-appearance: none !important;
  height: 8px;
  border-radius: 8px;
  transform: rotate(-90deg);
  -ms-transform: rotate(-90deg); 
  -webkit-transform: rotate(-90deg); 
  -o-transform: rotate(-90deg); 
  -moz-transform: rotate(-90deg); 
  &::-webkit-slider-thumb {
    -webkit-appearance: none !important;
    height:0px;
    width:0px;
    border: none;
    position: relative;
    background: none;
  }
  &::-webkit-slider-thumb:before {
    content: " ";
    background-color: #E88C4C;
    position: absolute;
    top: 10px;
    left: -20px;
    width: 25px;
    height: 25px;
    border-radius: 10% 50% 50% 50%;
    transform: rotate(45deg);
    -ms-transform: rotate(45deg); 
    -webkit-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
  }
  &::-webkit-slider-thumb:after {
    content: " ";
    background-color: #FFFFFF;
    position: absolute;
    top: 10px;
    left: -10px;
    width: 5px;
    height: 5px;
    border-radius: 50%;
  }

}

.gray{
  -webkit-filter:grayscale(100%);
  -o-filter:grayscale(100%);
  -moz-filter:grayscale(100%);
  -ms-filter:grayscale(100%);
  filter:grayscale(100%);
  filter:gray;
}

.fade.in {
opacity: 1;
}

.fade{
  opacity: 0;
  -webkit-transition: opacity .15s linear;
  -o-transition: opacity .15s linear;
  transition: opacity .15s linear;
}


.bgcolor {background: -webkit-gradient(linear, 0 0, 0 100%, from(red), to(blue));}